.login-form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 20px auto;
}

.login-form input {
    color: #fafafa;
    padding: 5px;
    font-size: 1.1em;
    background-color: #333;
    outline: none;
    border: none;
    border-radius: 3px;
    width: 70%;
    margin: 4px auto;
}

.login-form .login-button {
    width: 200px;
    margin: 0 auto;
    margin-top: 20px;
}