.login-dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    padding-bottom: 10px;
    position: relative;
}

.login-dashboard:before {
    content: '';
    position: absolute;
    width: 80%;
    height: 1px;
    background-color: #fafafa;
    top: 15px
}

.login-dashboard h3 {
    font-size: 1.5em;
}

.login-dashboard button {
    width: 200px;
    margin: 0 auto;
    margin-top: 20px;
    background-color: #0066cc;
    color: #fafafa;
    font-weight: bolder;
    transition: all 0.3s;
    font-size: 1.1em;
    border-radius: 3px;
    padding: 5px 0;
}

.login-dashboard button:hover {
    background-color: #fafafa;
    color: #0066cc;
}
.register-form [type="submit"]:hover {
}