.login-modal {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.4);
  }
  
.login-modal-main {
  position:fixed;
  background: #222;
  width: 50%;
  height: auto;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  padding: 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-modal-main > div {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.login-modal-main  >div  button {
  padding: 5px 10px;
  width: auto;
  margin: 0;
}
.display-block {
  display: block;
}

.display-none {
  display: none;
}