.card {
    display: flex;
    flex-direction: column;
    width: 65%;
    margin: 20px auto;
    padding: 20px;
    background-color: #363636;
    border-radius: 5px;
}

.card > p {
    margin: 20px;
}

.card .card-header {
    display: flex;
    justify-content: space-between;
}

.card button {
    width: 70px;
    padding: 5px 0;
    border-radius: 3px;
    border: none;
    outline: none;
    background-color: #0066cc;
    color: #fafafa;
    font-weight: bolder;
    transition: all 0.3s;
}

.card button:hover {
    background-color: #fafafa;
    color: #0066cc;
}