.card-comments {
    position: relative;
    padding: 20px ;
}

.card-comments:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #fafafa;
    top: 0px;
    left: 0;
}

.card-comments > h3 {
    margin-bottom: 20px;
}