.comment-input-form {
    display: flex;
}

.comment-input-form textarea {
    resize: none;
    background-color: #222;
    color: #fafafa;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 80%;
}

.comment-input-form input {
    width: 18%;
    height: 50px;
    padding: 5px 0;
    border: none;
    outline: none;
    background-color: #0066cc;
    border-radius: 3px;
    color: #fafafa;
    font-weight: bolder;
    margin: 0 auto;
    transition: all 0.3s;
}

.comment-input-form input:hover {
    background-color: #fafafa;
    color: #0066cc;
}