.card-comment {
    display: flex;
    background-color: #222;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
}

.card-comment h3 {
    font-size: 1em;
}

.card-comment p {
    margin-left: 20px;
}