.message-input-form {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 0 auto;
}

.message-input-form textarea {
    resize: none;
    border: none;
    outline: none;
    border-radius: 10px;
    background-color: #363636;
    padding: 10px;
    font-size: 1.1em;
    color: #fafafa;
}

.message-input-form input {
    width: 150px;
    margin: 10px auto;
    padding: 5px 0;
    font-size: 1.1em;
    color: #fafafa;
    background-color: #0066cc;
    border-radius: 5px;
    transition: all 0.3s;
    font-weight: bolder;
}

.message-input-form input:hover {
    background-color: #fafafa;
    color: #0066cc
}