.register {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 960px;
    height: 95vh;
    margin: auto
}

.register-interaction {
    background-color: #191919;

    padding: 30px;
    border-radius: 10px;
    width: 45%;
}