.user {
    padding: 20px;
    background-color: #363636;
    width: 300px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 20px 1px #ffffff11;
    transition: all 0.3s;
    margin: 20px 0;
}

.user:hover {
    box-shadow: 0 0 20px 1px #ffffff22;
}
.user button {
    background-color: #0066cc;
    padding: 10px 20px;
    font-size: 1.1em;
    font-weight: bolder;
    color: #fafafa;
    border-radius: 5px;
    margin: 10px;
    transition: all 0.3s;
}

.user button:hover {
    background-color: #fafafa;
    color: #0066cc;
}