.header-nav ul {
    display: flex;
}

.header-nav ul li > *{
    padding: 10px 20px;
    color: #fafafa;
    text-decoration: none;
    font-weight: bolder;
    margin: 0 5px;
    transition: all 0.3s;
    font-size: 1.1em;
}

.header-nav ul li > *:hover{
    color: #0066cc
}