.logout-button {
    background-color: #0066cc;
    padding: 5px 15px;
    border-radius: 3px;
    color: #fafafa;
    font-weight: bolder;
    transition: all 0.3s;
    font-size: 1.1em;
}

.logout-button:hover {
    color: #0066cc;
    background-color: #fafafa;
}