.register-form {
    display: flex;
    flex-direction: column;
}

.register-form h3 {
    font-size: 2em;
}

.register-form input {
    color: #fafafa;
    padding: 5px;
    margin: 4px;
    font-size: 1.1em;
    background-color: #333;
    outline: none;
    border: none;
    border-radius: 3px;
}

.register-form label {
    font-size: 1.1em;
    margin: 10px;
    margin-bottom: 0;
}

.register-form div {
    margin: 10px auto;
}

.register-form [type="submit"] {
    width: 200px;
    margin: 10px auto;
    background-color: #0066cc;
    font-weight: bolder;
    transition: all 0.3s;
}

.register-form [type="submit"]:hover {
    background-color: #fafafa;
    color: #0066cc;
}